{% extends "base.html" %}

{% block title %}{{site.site_name}}{% endblock title %}

{% block content %}
<article typeof="PlaceOfWorship">
    <h1 property="name">{{site.site_name}}</h1>
    Latitud: <span property="latitude">{{site.latitude_dd}}</span><br/>
    Longitud: <span property="longitude">{{site.longitude_dd}}</span>
    <br/><br/>
    {% if site.altitude %}
        Höjd över havet: <span property="dbpo:elevation">{{site.altitude}}</span>
    {% endif %}
    {% if site.altitude %}
        <br/>
        <p property="description">{{site.site_description}}</p>
    {% endif %}
    {% for biblio in site.biblios %}
        <a href="/biblio/{{biblio.biblio_id}}">{{biblio.author}}</a>
    {% endfor %}
</article>
{% endblock content %}
