{% extends "base.html" %}

{% block title %}{{site.site_name}}{% endblock title %}

{% block content %}

<h1>{{site.site_name}}</h1>
Latitud: <span>{{site.latitude_dd}}</span><br/>
Longitud: <span>{{site.longitude_dd}}</span>
<br/><br/>
{% if site.altitude %}
Höjd över havet: <span>{{site.altitude}}</span>
{% endif %}
{% if site.altitude %}
<br/>
<p>
{{site.site_description}}
</p>
{% endif %}
{% for biblio in site.biblios %}
<a href="/biblio/{{biblio.biblio_id}}">{{biblio.author}}</a>
{% endfor %}

{% endblock content %}
